.shop-container{
    .container{
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .block-heading {
        font-size: 4rem;
        text-align: center;
    }
    
    .heading {
        font-family: "Roboto", serif;
        font-weight: 100;
        font-style: normal;
    }
    
    .heading-bold {
        font-family: "Roboto", serif;
        font-weight: 900;
        font-style: normal;
    }
    .card{
        height: 100%;
    }
    .card-body{
        padding-top: 0;
    }
    .card-info{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .card-body .bi{
        font-size: 32px;
        color: red;
    }
    .price{
        font-size: 32px;
        background-color: red;
        color: white;
        padding: 15px;

    }
    .card-text{
        font-size: 18px;
        font-weight: bold;
        color: grey;
        margin-top: 15px;
    }
    .btn-success {
        border-radius: 0;
        margin-top: 30px;
        padding: 20px 40px 20px 40px;
        font-weight: bold;
    }
    .marquee-container {
        width: 100%;
        overflow: hidden;
        background-color: red;
        color: white;
        white-space: nowrap;
        padding: 30px;
      }
      .marquee {
        display: flex;
        justify-content: space-around;
        animation: marquee linear 7s infinite;
        font-size: 70px;
      }
      .marquee span{
        margin-left: 30px;
        margin-right: 30px;
        white-space: nowrap;
        user-select: none;
        cursor: text;
      }
      @keyframes marquee {
        0%   { transform: translate(0, 0); }
        100% { transform: translate(-100%, 0); }
      }
}